body {
    text-align: center;
}

.jumbotron h1 {
    font-weight: 500;
    font-size: 3.5rem;
}

.btn a {
    color: white;
    text-decoration: none;
}


.navbar {
    padding: 25px 25px;
}

.big-title {
    text-align: center;
}

.colored {
    background-color: #e9ecef;
}

.container-fluid {
    padding: 60px 50px;
}

/* Footer */

.footer {
    background-color: #e9ecef;
}

.bg-white {
    background-color: white;
}

.col {
    text-align: center;
}

/* Div with graphics */

.graphics-container {
    padding: 35px 0px 0px;
}
/* Images */

.portrait {
    padding-bottom: 10px;
    width: 300px;
    height: 300px;
}

.team-shot {
    width: 100%;
}

/* Image div */

.team-show {
    font-size: 1.25rem;
}

