body {
    text-align: center;
}

.jumbotron h1 {
    font-weight: 500;
    font-size: 3.5rem;
}

.btn a {
    color: white;
    text-decoration: none;
}


.navbar {
    padding: 25px 25px;
    transition: 1s;
}

.big-title {
    text-align: center;
    padding-bottom: 10px;
    color: white;
    font-size: 1.25rem;
}

.vertical-push {
    padding-top: 250px;
    padding-bottom: 270px;
    height: 1000px;
}

.hero-title {
    font-size: 6rem;
}

.big-title-bk {
    text-align: center;
    padding-bottom: 10px;

}


.colored {
    background-color: #e9ecef;
}

.container-fluid {
    padding: 60px 20px 50px 20px;
}

.white-text {
    color: white;
}


/* Footer */

.footer {
    background-color: #e9ecef;
    padding-top: 20px;
}

.bg-white {
    background-color: white;
}

.col {
    text-align: center;
}


/* Images */

.portrait {
    padding-bottom: 10px;
    width: 300px;
    height: 300px;
}

.team-shot {
    width: 80%;
    padding-top: 20px;
}

.portrait {
    width: 200px;
    height: 200px;
}

/* Image div */

.team-portraits p {
    font-size: 1.2rem;
}

.graphics-container img {
    width: 200px;
    padding: 15px;
}

.graphics-container p {
    font-size: 1.2rem;
}

.page-holder {
    min-height: auto;
    position: auto;
    top: 0;
}

.bg-cover {
    background-size: cover !important;
}

.hero-img {
    width: 100vw;
}

/* Wrappers for responsive iframes */

.wise-iframe-wrapper {
    position: relative;
    padding: 30px 30px 56.10% 30px;
    overflow: hidden;
}
 
.wise-iframe-wrapper iframe,
.wise-iframe-wrapper object,
.wise-iframe-wrapper embed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}