body {
    text-align: center;
    background-color: black;
    color: white;
}

@media only screen and (min-width: 992px) {

    .nav-item-highlight {
        /* text-decoration: underline;
            text-decoration-color: rgb(187, 74, 240); */
        padding-bottom: 0px;
        border-bottom: 1px solid rgb(187, 74, 240);
    }
}

/* .nav-item-highlight:hover {
    text-decoration: underline;
    text-decoration-color: rgb(187, 74, 240);
} */

.accent-purple {
    color: rgb(187, 74, 240);
}

.accent-blue {
    color: rgb(101, 200, 233);
}

.accent-green {
    color: rgb(101, 226, 101);
}

.accent-yellow {
    color: rgb(255, 255, 116);
}

.bg-purple {
    background-color: rgb(187, 74, 240);
}

.bg-blue {
    background-color: rgb(101, 200, 233);
}

.bg-green {
    background-color: rgb(101, 226, 101);
}

.bg-yellow {
    background-color: rgb(255, 255, 116);
}

.bg-white {
    background-color: white;
}


.jumbotron h1 {
    font-weight: 500;
    font-size: 3.5rem;
}

.btn {
    margin-top: 25px;
    border-radius: 17.5px;
    padding: 10px 20px 10px;
}

.btn a {
    color: white;
    text-decoration: none
}

.navbar {
    padding: 25px 25px;
    transition: 1s;
}

.navbar-brand {
    font-size: 1.35rem;
}

.big-title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.25rem;
    padding-left: 20px;
    padding-right: 20px;
}

.hero-title-wrapper {
    height: 1250px;
    padding: 50px 20px 200px;
}

.vertical-push {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 75vh);
    transform: translate();

}




@media only screen and (min-width: 768px) {
    h1.hero-title {
        font-size: 5.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .hero-title {
        font-size: 4rem;
    }
}

.big-header {
    text-align: center;
    padding-bottom: 10px;

}

.colored {
    background-color: white;
}

.container-fluid {
    padding: 100px 40px 100px;
}

.bg-black {
    background-color: black;
}

.white-text {
    color: white;
}


/* Footer */

.footer {
    background-color: black;
    padding-top: 20px;
}

.col {
    text-align: center;
}


/* Images */

.portrait {
    padding-bottom: 10px;
    width: 300px;
    height: 300px;
}

.team-shot {
    width: 80%;
    padding-top: 45px;
    padding-bottom: 100px;
}

.portrait {
    width: 200px;
    height: 200px;
}

/* Image div */

.team-portraits {
    padding-top: 40px;
}

.team-portraits p {
    font-size: 1.2rem;
}

.graphics-container img {
    width: 200px;
    padding: 15px;
}

.graphics-container p {
    font-size: 1.2rem;
}

.page-holder {
    min-height: auto;
    position: auto;
    top: 0;
}

.bg-cover {
    background-size: cover !important;
}

.hero-img {
    width: 100vw;
    max-height: 93vh;
    max-width: 100vw;
}

/* Wrappers for responsive iframes */

.wise-iframe-wrapper {
    position: relative;
    padding: 30px 30px 56.10% 30px;
    overflow: hidden;
}

.wise-iframe-wrapper iframe,
.wise-iframe-wrapper object,
.wise-iframe-wrapper embed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}


.gold-partner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
}

.gold-partner-wrapper>img {
    object-fit: contain;
}

/* Large screens */
@media only screen and (min-width: 450px) {
    .hero-partner {
        width: 55%;
    }

    /* Since the logos are already in col-6 size, we don't need to scale them down as much */
    .gold-partner-wrapper>img {
        width: 50%;
    }
}

/* Medium screens */
@media only screen and (max-width: 768px) {
    .hero-partner {
        width: 85%;
    }

    .gold-partner-wrapper>img {
        width: 40%;

    }
}

/* Small screens */
@media only screen and (max-width: 450px) {
    .hero-partner {
        width: 100%;
    }

    .gold-partner-wrapper>img {
        width: 60%;
    }
}